In [ ]:
#importing neessary libraries
import numpy as np
import pandas as pd

In [2]:
# declaring Data in two arrays
countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
gdpofcountries = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])

In [3]:
# finding and Prining Max GDP and COuntry
country_max_GDP = countries[gdpofcountries.argmax()]
print('country Name and max GDP:',format(country_max_GDP), format(gdpofcountries.max()))

country Name and max GDP: Norway 40034.85063

In [4]:
# finding and Prining min GDP and COuntry

country_min_GDP = countries[gdpofcountries.argmin()]
print('country Name and min GDP:',format(country_min_GDP), format(gdpofcountries.min()))

country Name and min GDP: Ethiopia 229.6769525

In [5]:
# iterate through array and print countries
for country in countries:
    print(country)

Algeria
Angola
Argentina
Australia
Austria
Bahamas
Bangladesh
Belarus
Belgium
Bhutan
Brazil
Bulgaria
Cambodia
Cameroon
Chile
China
Colombia
Cyprus
Denmark
El Salvador
Estonia
Ethiopia
Fiji
Finland
France
Georgia
Ghana
Grenada
Guinea
Haiti
Honduras
Hungary
India
Indonesia
Ireland
Italy
Japan
Kenya
South Korea
Liberia
Malaysia
Mexico
Morocco
Nepal
New Zealand
Norway
Pakistan
Peru
Qatar
Russia
Singapore
South Africa
Spain
Sweden
Switzerland
Thailand
United Arab Emirates
United Kingdom
United States
Uruguay
Venezuela
Vietnam
Zimbabwe

In [6]:
# iterate through array and print gdps
for gdp in gdpofcountries:
    print(gdp)

2255.225482
629.9553062
11601.63022
25306.82494
27266.40335
19466.99052
588.3691778
2890.345675
24733.62696
1445.760002
4803.398244
2618.876037
590.4521124
665.7982328
7122.938458
2639.54156
3362.4656
15378.16704
30860.12808
2579.115607
6525.541272
229.6769525
2242.689259
27570.4852
23016.84778
1334.646773
402.6953275
6047.200797
394.1156638
385.5793827
1414.072488
5745.981529
837.7464011
1206.991065
27715.52837
18937.24998
39578.07441
478.2194906
16684.21278
279.2204061
5345.213415
6288.25324
1908.304416
274.8728621
14646.42094
40034.85063
672.1547506
3359.517402
36152.66676
3054.727742
33529.83052
3825.093781
15428.32098
33630.24604
39170.41371
2699.123242
21058.43643
28272.40661
37691.02733
9581.05659
5671.912202
757.4009286
347.7456605

In [7]:
# iterate through array and print countries and its gdp
for i in range(len(countries)):
    print('country name and its GDP:', countries[i], gdpofcountries[i])

country name and its GDP: Algeria 2255.225482
country name and its GDP: Angola 629.9553062
country name and its GDP: Argentina 11601.63022
country name and its GDP: Australia 25306.82494
country name and its GDP: Austria 27266.40335
country name and its GDP: Bahamas 19466.99052
country name and its GDP: Bangladesh 588.3691778
country name and its GDP: Belarus 2890.345675
country name and its GDP: Belgium 24733.62696
country name and its GDP: Bhutan 1445.760002
country name and its GDP: Brazil 4803.398244
country name and its GDP: Bulgaria 2618.876037
country name and its GDP: Cambodia 590.4521124
country name and its GDP: Cameroon 665.7982328
country name and its GDP: Chile 7122.938458
country name and its GDP: China 2639.54156
country name and its GDP: Colombia 3362.4656
country name and its GDP: Cyprus 15378.16704
country name and its GDP: Denmark 30860.12808
country name and its GDP: El Salvador 2579.115607
country name and its GDP: Estonia 6525.541272
country name and its GDP: Ethiopia 229.6769525
country name and its GDP: Fiji 2242.689259
country name and its GDP: Finland 27570.4852
country name and its GDP: France 23016.84778
country name and its GDP: Georgia 1334.646773
country name and its GDP: Ghana 402.6953275
country name and its GDP: Grenada 6047.200797
country name and its GDP: Guinea 394.1156638
country name and its GDP: Haiti 385.5793827
country name and its GDP: Honduras 1414.072488
country name and its GDP: Hungary 5745.981529
country name and its GDP: India 837.7464011
country name and its GDP: Indonesia 1206.991065
country name and its GDP: Ireland 27715.52837
country name and its GDP: Italy 18937.24998
country name and its GDP: Japan 39578.07441
country name and its GDP: Kenya 478.2194906
country name and its GDP: South Korea 16684.21278
country name and its GDP: Liberia 279.2204061
country name and its GDP: Malaysia 5345.213415
country name and its GDP: Mexico 6288.25324
country name and its GDP: Morocco 1908.304416
country name and its GDP: Nepal 274.8728621
country name and its GDP: New Zealand 14646.42094
country name and its GDP: Norway 40034.85063
country name and its GDP: Pakistan 672.1547506
country name and its GDP: Peru 3359.517402
country name and its GDP: Qatar 36152.66676
country name and its GDP: Russia 3054.727742
country name and its GDP: Singapore 33529.83052
country name and its GDP: South Africa 3825.093781
country name and its GDP: Spain 15428.32098
country name and its GDP: Sweden 33630.24604
country name and its GDP: Switzerland 39170.41371
country name and its GDP: Thailand 2699.123242
country name and its GDP: United Arab Emirates 21058.43643
country name and its GDP: United Kingdom 28272.40661
country name and its GDP: United States 37691.02733
country name and its GDP: Uruguay 9581.05659
country name and its GDP: Venezuela 5671.912202
country name and its GDP: Vietnam 757.4009286
country name and its GDP: Zimbabwe 347.7456605

In [8]:
# print highest GDP
print('Highest GDP Value: ', gdpofcountries.max())

Highest GDP Value:  40034.85063

In [9]:
# print lowest GDP
print('Lowest GDP Value: ', gdpofcountries.min())

Lowest GDP Value:  229.6769525

In [10]:
# print mean GDP
print('Mean GDP Value: ', gdpofcountries.mean())

Mean GDP Value:  11289.409271639683

In [13]:

print('standard deviation GDP Value: ', gdpofcountries.std())

standard deviation GDP Value:  12743.828910617945

In [14]:
print('sum of all the GDPs: ', gdpofcountries.sum())

sum of all the GDPs:  711232.7841133